.Phonetics a {
  color: #113f67;
  background-color: #e7eaf6;
  padding: 0px 5px;
  border: 1px solid #a2a8d3;
  border-radius: 3px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  font-size: 13px;
  margin-left: 10px;
}

.Phonetics a:hover {
  color: white;
  background-color: #a2a8d3;
}
.text {
  opacity: 70%;
  font-size: 18px;
}
